<:Title>
  Home

<:Body>
  <div class="row">
    <div class="col-md-4">

      <h1>Players</h1>

      {{ unless current_player.value }}
        <form e-submit="add_player" role="form">
          <div class="form-group">
            <label>Sign In</label>
            <input class="form-control" type="text" value="{{ page._name }}" />
          </div>
        </form>
      {{end}}


      <table class="players-table">
        {{ standings.each do |player| }}
        <!-- Use params to store the current index -->
        <tr
          e-click=""
          class="{{ if current_player.value == player }}selected{{ end }}"
          >
            <td>
              {{ if current_player.value == player }}
                <button e-click="player.destroy; page._name = nil">X</button>
              {{ else }}
                &nbsp;
              {{end}}
            </td>
            {{ unless current_player.value }}
              <td e-click='page._name = player.name'>{{ player.name }}</td>
            {{ else }}
              <td class="{{ if false }}complete{{ end }}">{{ player.name }}</td>
            {{ end }}
          <td class="{{ if false }}complete{{ end }}">{{ player.points }}</td>
        </tr>
        {{ end }}
      </table>


    </div>

    {{ if current_player.value }}
    <div class="col-md-8">
      <table class='player'>
        <tr><td>{{ current_player.name }}</td></tr>
        <tr><td><button e-click='add_vote(current_player.id.value, 1)'>1</button></td></tr>
      </table>
      {{ store.players.each do |player| }}
        {{   unless player == current_player.value }}
          <table class='player'>
            <tr><td>{{ player.name }}</td></tr>
            <tr><td><button e-click='add_vote(player.id, -2)'>- 2 </button></td></tr>
          </table>
        {{end}}
      {{end}}
    </div>
    {{end}}
  </div>
